* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -aple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background: transparent;
    color: #333;
    user-select: none;
}